#root {
  
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  
}
body {
  margin: 0;
  padding: 0;
   background-image: url(./assets/fondo.jpg) ;
  background-size: cover  ;
  background-position: center;
}
.logo h1 {
  font-family: 'Arial', sans-serif; 
  font-size: 70px; 
  font-weight: bold; 
  color: #c36111; 
  animation: fadeIn 2s ease-in; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  color: #ddd;
}
.detalle {
  color: #ddd;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #201f1f;
}
.itemlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itemlist > * {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
}
.item {
  border: 2px solid rgb(24, 235, 130); 
  padding: 5px; 
   justify-content:  space-between;  
  align-items:center ; 
  display:flex ;
  color: black; 
  background: lightgray;
  flex-direction: column;
  
}

.item h1 {
  color: black; 
  background: lightgray;
}
.item h2 {
  color: black; 
  background: lightgray;
}
.link {
  color: white;
  margin: 15px;
  font-weight: bold;
  font-size: large;
}
.Noso >p {
  color: rgb(207, 93, 16);
  background: rgb(12, 11, 11);
  margin: 15px;
  padding: 0px;
  font-weight: 400;
  font-size: large;

}
.Noso >h1 {
  color: rgb(4, 4, 9);
  margin: 15px;
  padding: 10px;
   
}
.link:hover {
  color: rgb(201, 105, 14)
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(77, 203, 140);
  padding: 10px;
}

.logo h1 {
  margin: 0;
}

.nav-links {
  display: flex;
  align-items: center;
}
.nav-link:hover {
  color: rgb(228, 97, 15)
}
.nav-links .link {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color:rgb(77, 203, 140);
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.dropdown-menu .link {
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu .link:hover {
  color: #0d0c0a;
}
.carrito {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carrito h2 {
  margin-bottom: 10px;
}

.carrito ul {
  list-style: none;
  padding: 0;
}

.carrito li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.carrito li img {
  width: 50px;
  margin-right: 10px;
}

.carrito button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.subtotal {
  margin-top: 20px;
}
.carrito li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}


.articulos {
  width: 100%;
  border-collapse: collapse;
}

.articulos th,
.articulos td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.articulos th {
  background-color: #f2f2f2;
}

.articulos img {
  width: 50px;
  height: 50px;
}

.subtotal {
  margin-top: 20px;
}

button {
  margin-top: 10px;
}
.custom-swal-container {
  background-color: #589f9c; 
  border: 1px solid #3f7ebe; 
  border-radius: 4px;
  padding: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-size: 16px; 
  color: #676869; 
}
.volver {
  margin-left: 20px;
}
.contador {
  display: ruby;
}