#root {
  
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
*{

  background-color: chocolate;
  margin: 0;
  padding: 0;
  /*background-image: url(/src/assets/power.jpg)*/
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}





.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.itemlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itemlist > * {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
}
.item {
  border: 2px solid rgb(15, 14, 14); 
  padding: 5px; 
  justify-content: center; 
  align-items:center ; 
  display:flex ;
  color: black; 
  background: lightgray;
  flex-direction: column;
  
}

.item h1 {
  color: black; 
  background: lightgray;
}
.item h2 {
  color: black; 
  background: lightgray;
}
.link {
  color: white;
  margin: 15px;
  font-weight: bold;
  font-size: large;
}
.Noso >p {
  color: rgb(22, 13, 144);
  margin: 15px;
  padding: 10px;
  font-weight: bold;
  font-size: large;

}
.Noso >h1 {
  color: rgb(4, 4, 9);
  margin: 15px;
  padding: 10px;
   
}
.link:hover {
  color: rgb(22, 141, 18)
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:chocolate;
  padding: 10px;
}

.logo h1 {
  margin: 0;
}

.nav-links {
  display: flex;
  align-items: center;
}
.nav-link:hover {
  color: rgb(22, 141, 18)
}
.nav-links .link {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: chocolate;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.dropdown-menu .link {
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu .link:hover {
  color: #1bf323;
}